<div class='card'>
  <div class="card-body">
    <div class="card-header">
      <img class="avatar" alt="{{laureate.firstname}}" title="{{laureate.firstname}}" [src]="[ImageURL]">

      <div class="header-content">
        <div class="card-title">
          <span class="card-title-firstname">{{laureate.firstname}}, </span>
          <span class="card-title-surname">{{laureate.surname}}</span>
        </div>

        <div class="card-details">
          <div class="born">
            <span class="title">Born: </span>
            <span class="date">{{laureate.born}}</span>
            <span class="city">, {{laureate.bornCity}}</span>
            <span class="country">, {{laureate.bornCountry}}</span>
          </div>

          <div class="died">
            <span class="title">Died: </span>
            <span class="date">{{laureate.died}}</span>
            <span class="city">, {{laureate.diedCity}}</span>
            <span class="country">, {{laureate.diedCountry}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content">
      <app-nobel-prize class="nobel-prize" *ngFor="let prize of laureate.prizes" [prize]="prize"></app-nobel-prize>
    </div>
  </div>
</div>
