<div class="qanda-component">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-2">
        <app-lhs page="general_science"></app-lhs>
        <app-lhs page="life_sciences"></app-lhs>
        <app-lhs page="social_sciences"></app-lhs>
        <app-lhs page="miscellaneous"></app-lhs>
        <app-lhs page="pseudoscience"></app-lhs>
      </div>
      <div class="col-sm-9 col-md-9 col-lg-10">
        <app-table-view-posts [config]="config$ | async" [posts]="posts$ | async"></app-table-view-posts>
      </div>
    </div>
  </div>
</div>
