<div class="container-fluid">
  <div class="row">
    <div class='col-sm-6 col-md-4 col-lg-3 laureate-filter-container'>
      <app-nobel-filter (searchTextEmitter)="onFilterChanged($event)"></app-nobel-filter>
    </div>

    <div class="col-sm-6 col-md-8 col-lg-9 order-sm-first">
      <ng-container *ngIf="(laureates && laureates
        | laureateName: search.name
        | gender : search.gender
        | area   : search.area
        | sortOn : search.sortOn.key : search.sortOn.order
        ) as filteredLaureates">

        <div *ngIf="filteredLaureates.length && filteredLaureates.length === laureates.length" class="filtered-laureate-count">{{laureates?.length}} laureates in total</div>
        <div *ngIf="filteredLaureates.length && filteredLaureates.length !== laureates.length" class="filtered-laureate-count">
          {{filteredLaureates?.length}} laureates filtered out of {{laureates?.length}}
          <span id="reset-filters" (click)="onResetFilters()">Reset Filters</span>
        </div>

        <div class="card-deck">
          <app-laureate-card class="kard" *ngFor="let laureate of filteredLaureates" [laureate]="laureate"></app-laureate-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>
