.card {
  margin: 5px;

  .card-body {
    padding: .5rem;

    .card-header {
      display: flex;
      padding: 5px;

      .avatar {
        width: 100px;
        height: 100px;
      }

      .header-content {
        flex-grow: 1;
        position: relative;
        padding: 5px;

        .card-title {
          flex-grow: 1;

          .card-title-firstname {
            font-size: 16px;
          }

          .card-title-surname {
            font-size: 14px;
            color: grey;
          }
        }

        .card-details {
          position: absolute;
          bottom: 0px;

          color: #444;

          & > div {
            font-size: 10px;

            .title {
              font-size: 12px;
            }

            .date {
            }
            .city {
            }
            .country {
            }
          }
        }
      }
    }

    .main-content {
      min-height: 55px;
    }
  }
}
