@import '../../../../../variables';

.input-string-container {
    padding: 5px;

    .nobel-form-group {
        @include nobel-form-group();
    
        i.nobel-form-control-icon {
            @include nobel-form-control-icon();
        }
    
        .nobel-form-control {
            @include nobel-form-control();

            color: #555;
            font-size: 14px;
        }
    }
}
