.prize {
    display: flex;
    flex-direction: row;
    color: grey;

    padding: 5px;
    margin-bottom: 5px;

    .year-category {
        min-width: 100px;
        font-size: 12px;
        padding: 3px;

        .year {
        }
        .category {
        }
    }

    .motivation {
        flex-grow: 1;
        font-size: 12px;
        font-style: italic;
        padding: 3px;
    }
}
