@import '../../../../../variables';

.sort-button-container {
    display: block;
    margin-top: 5px;

    .btn-primary {
        width: 96%;
        margin: 5px;
        font-size: 14px;
        border-radius: 5px;

        color: $SelectedColor;
        background-color: #fff;
        border-color: $DefaultColor;
    }

    .btn-primary:hover {
        color: #fff;
        background-color: $SelectedColor;
        border-color: $SelectedColor;
    }

    .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: $SelectedColor;
        border-color: $SelectedColor;
    }

    .sort-button-container-label {
        font-style: italic;
    }
}