@import '../../../../variables';

#yacht-content-row {
    padding-top: 20px;
}

.event-view-div {
    text-align: center;
    margin-bottom: 20px;
}

.event-view-seperator {
    margin: 0 30px;
    line-height: 35px;
}

.btn {
    border-color: $PrimaryColor;
}

.btn-inverted {
    color: #fff;
    background-color: $PrimaryColor;
    border-color: #fff;
}

.event-calendar-details.tile{
    padding-top: 15px;
}