<div class="table-view-component">
  <div class="header clearfix">
    <div class="title pull-left">{{data.header}}</div>

    <div class="options pull-right">
      <button (click)="addItem($event)">Add</button>
    </div>

    <div class="search-container pull-right">
      <input class="text-search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="search" />
    </div>
  </div>

  <table class="h-100 w-100">
    <thead>
      <tr>
        <td><b>Actions</b></td>
        <td *ngFor="let columnTitle of data.columnTitles"><b>{{columnTitle}}</b></td>
      </tr>
    </thead>

    <tbody>
      <tr class="weekly-row" [ngClass]="{'answered': item.description.length, 'unanswered': !item.description.length}" *ngFor="let item of data.data | filter:searchText" (click)="viewItem(item)">
        <td (click)="selectItem($event, item)"><i class="fas fa-edit"></i></td>
        <td *ngFor="let prop of data.props" [innerHTML]="item[prop]"></td>
      </tr>
    </tbody>
  </table>
</div>
