<div class='container-fluid'>
  <!-- <div class='row'>
    <img width="50" alt="Science For Society" src="/assets/images/logo.jpg">
  </div> -->
  <div class='row'>
    <div class="nav-item"><a target="" rel="noopener" href="/events">Events</a></div> | 
    <div class="nav-item"><a target="" rel="noopener" href="/people">People</a></div> | 
    <div class="nav-item"><a target="" rel="noopener" href="/admin">Admin</a></div>
  </div>

  <div class='row'>
    <div class='col-sm-12 body-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
