@import '../variables';

.mat-toolbar {
    min-height: 56px;
    background: #007bff;

    .mat-toolbar-row {
        height: 54px;
        color: slategrey;
        background: gainsboro;
    }
}

.mobile-navbar {
    display: block;
}

@media (max-width:550px) {
    .mobile-navbar {
        display: none;
    }
}

.logo-container {
    padding-left: 10px;
    padding-right: 10px;
}