@import "../../variables";

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.btn {
  border-color: $DefaultColor;
}

.btn:hover {
  color: #fff;
  background-color: $DefaultColor;
  border-color: #fff;
}

.btn-inverted {
  color: #fff;
  background-color: $DefaultColor;
  border-color: #fff;
}

.btn-delete {
  border-color: #ed3210;
}

.btn-delete:hover {
  border-color: #ed3210;
  background-color: #ed3210;
}
