.grid-stack {
  min-height: 100px;
  border: 1px solid #c3c3c3;

  .grid-stack-item {
    .grid-stack-item-content {
      border: none;
      padding: 2px 2px 2px 2px;
      left: $spacing-between-panels;
      top: $spacing-between-panels;
      right: $spacing-between-panels;
      bottom: $spacing-between-panels;
      background-color: #eaeaea;

      .grid-item-header {
        top: 4px;
        width: 100%;
        cursor: move;
        min-height: 23px;
        box-sizing: border-box;
        right: 5px;

        span.dropdown {
          margin-right: 5px;
        }

        span.filter-dropdown-text {
          display: inline-block;
          vertical-align: middle;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .title {
          color: #0079c1;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .grid-item-body {
        overflow-x: auto;
      }

      a.has-tooltip, span.has-tooltip {
        border: none;
      }

      .dropdown-menu {
        i[class^="icon-"], i[class*=" icon-"] {
          display: inline-block;
          width: 16px;
          margin-top: 2px;

          &:first-child {
            margin-right: 3px;
          }

          &.pull-right {
            margin-left: 5px;
          }

          &.icon-premium {
            margin-top: 0;

            &:before {
              font-size: 1.4em;
            }
          }
        }
      }
    }

    .slide-menu {
      display: none;
    }
  }

  .grid-stack-item:hover .slide-menu {
    display: block !important;
  }
}
