@import '../../../../variables';

.sort-group {
    display: flex;
    flex-direction: row;

    .sort-component {
        padding: 2px;
        width: 50%;
    }
}

.nobel-filter-container {
    padding-top: 25px;

    .group-container-label {
        font-style: italic;
    }

    #reset-filters {
        cursor: pointer;
        font-size: 14px;

        width: 97%;
        height: 34px;

        margin: 5px;
        padding: 5px;

        color: black;
        background-color: skyblue;
        border-radius: 4px;
    }
}
