<div class='card'>
  <div class="card-body">
    <div class="card-thumbnail">
      <div class="youtubeThumbnail" *ngIf="episode.youtubeKey">
        <iframe width="100%" [src]="episode.youtubeKey | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="flyer" *ngIf="!episode.youtubeKey">
        <img alt="{{episode.name}}" title="{{episode.name}}" [src]="['assets/images/flyers/' + episode.flyer]">
      </div>
    </div>

    <div class="card-details">
      <div class="card-title">
        <span class="card-title-name">{{episode.name}}</span>
      </div>

      <div class="card-speaker">
        <span>by: </span><span class="card-speaker-name">{{episode.speaker?episode.speaker:series.speaker}}</span>
      </div>

      <div class="card-description">
        <span class="card-description-name">{{episode.description}}</span>
      </div>
    </div>
  </div>
</div>
