<div class="page row" *ngIf="dataReady">
    <div class="content col-sm-10 col-md-8 col-lg-8 order-sm-first">
        <div class="content-meta-data">
            <a href="{{post.category}}">{{post.category}}</a> > <a href="{{post.category}}/{{post.subcategory}}">{{post.subcategory}}</a>
        </div>
        <div class="content-header"><h4>{{post.title}}</h4></div>
        <div class="content-body" *ngIf="post.description && post.description.length" [innerHTML]="htmlContent"></div>
        <div class="content-body" *ngIf="!post.description">
            <button class="answer-post" (click)="editPost()">Answer this question</button>
        </div>
    </div>

    <div class="rhs col-sm-0 col-md-4 col-lg-4">
        <app-list-view-posts class="related-posts" title="సంబంధిత ప్రశ్నలు" [posts]="relatedPosts"></app-list-view-posts>
        <app-list-view-posts class="same-author-posts" title="ఇదే వ్యక్తి/రచయిత నుండి.." [posts]="sameAuthorPosts"></app-list-view-posts>
    </div>
</div>
