<div class="page row" *ngIf="dataReady">
    <div class="content col-sm-10 col-md-8 col-lg-8 order-sm-first">
        <div class="content-meta-data">
            <a href="/{{post.category}}">{{post.category}}</a> > <a href="/{{post.category}}/{{post.subcategory}}">{{post.subcategory}}</a>
        </div>
        <div class="content-header"><h4>{{post.title}}</h4></div>
        <div class="content-body">{{post.description}}</div>
    </div>

    <div class="rhs col-sm-0 col-md-4 col-lg-4">
        <div class="posts-group related-posts">
            <h4 class="posts-group-heading">సంబంధిత ప్రశ్నలు</h4>
            <ul class="posts-group-body">
                <li class="post"><a href="assets/posts/evolution-of-plants.html">జీవ వైవిద్యంలొ తేనెటీగల పాత్ర ఎంత? పర్యావరణానికి వాటి ఆవస్యకత ఏమిటి?</a></li>
                <li class="post"><a href="assets/posts/evolution-of-plants.html">ఆధునిక శాస్త్రం ప్రాకారం 'జీవం' ఎలా ఆవిర్భవించింది?</a></li>
                <li class="post"><a href="assets/posts/evolution-of-plants.html">ఉత్పరివర్తనలు (Mutations) అనగా ఏమిటి? అవి ఎందుకు సంభవిస్తాయి?</a></li>
            </ul>
        </div>

        <div class="posts-group posts-from-same-author">
            <h5 class="posts-group-heading">ఇదే వ్యక్తి/రచయిత నుండి..</h5>
            <ul class="posts-group-body">
                <li class="post"><a href="assets/posts/evolution-of-plants.html">వాతావరణ అంచనా ఎలా చేస్తారు?</a></li>
                <li class="post"><a href="assets/posts/evolution-of-plants.html">సముద్రంలో ఆటు పోట్లు ఎందుకు సంభవిస్తాయి?</a></li>
                <li class="post"><a href="assets/posts/evolution-of-plants.html">మనిషి కొతి నుండి పుట్టాడా? మరి ఇంకా కొతులు ఎందుకు ఉన్నాయి?</a></li>
            </ul>
        </div>
    </div>
</div>
