.page {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;

    .content {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .rhs {
        font-size: 12px;

        .posts-group {
            margin-bottom: 20px;

            .posts-group-body {
                font-size: 14px;
            }
        }
    }
}
