<div class="footer-component">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="center-content">© 2019, Telescope. All rights reserved</div>
            <div class="center-content"><a href="/privacy">Privacy</a> | <a href="/terms">Site Terms</a> | <a href="/sitemap">Site Map</a> | <a href="/contactup">Contact us</a></div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="center-content">Want to contribute? <a>Join us..</a></div>
            <div class="center-content"><a href="/admin">Admin Login</a></div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="center-content">Login: <span>Twitter</span> | <span>YouTube</span> | <span>LinkedIn</span> | <span>Facebook</span> | <span>Instagram</span></div>
            <div class="center-content">Language: <a>English</a> | <a>తెలుగు</a> | <a>हिंदी</a></div>
        </div>
    </div>
</div>
