<div class="footer-component">
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="center-content">© 2019, Telescope. All rights reserved</div>
            <div class="center-content">
                <a target="_black" href="assets/static/privacy.html">Privacy</a> |
                <a target="_black" href="assets/static/terms.html">Terms</a> |
                <a target="_black" href="assets/static/sitemap.html">Site map</a> |
                <a target="_black" href="assets/static/aboutus.html">About us</a> |
                <a target="_black" href="assets/static/contactus.html">Contact us</a>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="center-content"><a href="contribute">Contribute</a> | <a href>Subscribe</a><span> for Email Newsletters</span></div>
            <div class="center-content"><a href="home">Updates</a> | <a href="newsletter">Newsletter</a> | <a href="resources">Resources</a> | <a href="media">Media</a> | <a href="admin">Admin</a></div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="center-content"><a href>Twitter</a> | <a href>YouTube</a> | <a href>LinkedIn</a> | <a href>Facebook</a> | <a href>Instagram</a></div>
            <div class="center-content">Language: <a href>English</a> | <a href>తెలుగు</a> | <a href>हिंदी</a></div>
        </div>
    </div>
</div>
