.table-view-component {
    margin-bottom: 10px;

    .header {
        height: 35px;

        .title {
            font-size: 22px;
        }

        .options {
            padding: 2px;

            button {
                border-radius: 5px;
            }
        }
    }

    table {
        tr:nth-child(odd) {
            background-color: #dadada;
        }

        tr:first-child {
            background-color: #1a345b;
            color: #fff;
        }

        tr.weekly-row {
            cursor: pointer;
        }

        td {
            padding: 5px 0 5px 10px;
            font-size: 12px;
        }
    }
}
